apiVersion: batch/v1
kind: CronJob
metadata:
  name: etl-job
spec:
  schedule: "0 * * * *"

  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 300

  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1

  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 300

      template:
        spec:
          containers:
            - name: etl
              image: swr.ap-southeast-3.myhuaweicloud.com/baykar-case/etl:v2
              envFrom:
                - configMapRef:
                    name: app-config

          imagePullSecrets:
            - name: swr-secret
          restartPolicy: OnFailure
