name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- Login to Huawei SWR ---
      - name: Login to SWR
        run: |
          for i in 1 2 3; do
            echo "${{ secrets.SWR_PASSWORD }}" | docker login \
              -u "${{ secrets.SWR_USERNAME }}" \
              --password-stdin \
              swr.ap-southeast-3.myhuaweicloud.com
            echo "Retrying..."
            sleep 5
          done

      # --- Build & Push Backend ---
      - name: Build & Push Backend
        run: |
          docker build -t backend:${{ github.sha }} ./mern-project/server
          docker tag backend:${{ github.sha }} ${{ secrets.SWR_REGISTRY }}/baykar-case/backend:${{ github.sha }}
          docker push ${{ secrets.SWR_REGISTRY }}/baykar-case/backend:${{ github.sha }}

      # --- Build & Push Frontend ---
      - name: Build & Push Frontend
        run: |
          docker build -t frontend:${{ github.sha }} ./mern-project/client
          docker tag frontend:${{ github.sha }} ${{ secrets.SWR_REGISTRY }}/baykar-case/frontend:${{ github.sha }}
          docker push ${{ secrets.SWR_REGISTRY }}/baykar-case/frontend:${{ github.sha }}

      # --- Build & Push ETL ---
      - name: Build & Push ETL
        run: |
          docker build -t etl:${{ github.sha }} ./python-project
          docker tag etl:${{ github.sha }} ${{ secrets.SWR_REGISTRY }}/baykar-case/etl:${{ github.sha }}
          docker push ${{ secrets.SWR_REGISTRY }}/baykar-case/etl:${{ github.sha }}

      # --- Setup kubectl ---
      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > $HOME/.kube/config

      # --- Deploy to CCE ---
      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/

      # --- Update images automatically ---
      - name: Rollout new images
        run: |
          kubectl set image deployment/backend backend=${{ secrets.SWR_REGISTRY }}/baykar-case/backend:${{ github.sha }} -n mern-app
          kubectl set image deployment/frontend frontend=${{ secrets.SWR_REGISTRY }}/baykar-case/frontend:${{ github.sha }} -n mern-app
          kubectl rollout restart cronjob/etl-job -n mern-app
